html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*master*/
#header
{
	width:1026px;
	height:205px;
	margin:auto;
}
#footer
{
	width:1026px;
	background-color:#000;
	position: relative;
	margin-top: -70px; /* negative value of footer height */
	height: 70px;
	clear:both;
}
#wrap
{
	width:1026px;
	margin:auto;
	min-height: 100%;
}
#main
{
	overflow:auto;
	padding-bottom: 70px;
}
#sidebar
{
	width:205px;
	float:left;
}
#maincontent
{
	width:821px;
	float:left;
}
/*~master*/

/*index*/
#logo
{
	background:url(images/feydom_logo.png) no-repeat;
	float:left;
	height:205px;
	width:411px;
}
#imgup_1
{
	background:url(images/product.png) no-repeat;
	float:left;
	width:205px;
	height:205px;
}
#imgup_2
{
	background:url(images/about_us.png) no-repeat;
	float:left;
	width:205px;
	height:205px;
}
#imgup_3
{
	background:url(images/contact.png) no-repeat;
	float:left;
	width:205px;
	height:205px;
}
#imgside_1
{
	background:url(images/events.png) no-repeat;
	width:205px;
	height:205px;
}
#imgside_2
{
	background:url(images/design_studio.png) no-repeat;
	width:205px;
	height:205px;
}
#imgside_3
{
	background:url(images/show_room.png) no-repeat;
	width:205px;
	height:205px;
}
#imgside_4
{
	background:url(images/factory.png) no-repeat;
	width:205px;
	height:205px;
}
#imgside_5
{
	background:url(images/feydom_catalog.png) no-repeat;
	width:205px;
	height:205px;
}
/*~index*/