html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color: #333;
	background-color: white;
	background-repeat: repeat;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*master*/
#header
{
	width:1026px;
	height:205px;
	margin:auto;
	display:block;
}
#footer
{
	width:1026px;
	background-color:#000;
	position: relative;
	margin-top: -70px; /* negative value of footer height */
	height: 70px;
	clear:both;
	display:block;
}
#wrap
{
	width:1026px;
	margin:auto;
	min-height: 100%;
	display:block;
}
#main
{
	overflow:auto;
	padding-bottom: 70px;
	display:block;
}
#sidebar
{
	width:205px;
	float:left;
		margin:auto;
		display:block;
}
#maincontent
{
	width:821px;
	float:left;
	display:block;
}
#container
{
float:left;
display:block;
}
/*~master*/

/*index*/
.logo
{
	float:left;
	height:205px;
	width:411px;
	display:block;
	position:relative;
}
.imgup
{
	float:left;
	width:205px;
	height:205px;
	display:block;
	position:relative;
}
.imgside
{
	width:205px;
	height:205px;
	display:block;
	position:relative;
}
.imgtopContent
{
	max-width: 546px; 
	max-height:410px; 
	float:left;
	display:block;
}
.contentBottom
{
	float:left; 
	min-height:205px; 
	min-width: 205px;
	display:block;
	position:relative;
}
.imgBottom
{
	max-width:205px; 
	max-height:205px;
	display:block;
}

/*contact form*/
h1 {
	width:498px;
	height:64px;
	background:url(images/h1-bg.jpg);
	color:#fff;
	font-family:bebas;
	padding:17px 0px 0px 78px;
	letter-spacing:1px;
	font-size:2.2em;
	margin:0 auto;
}

.form {
	width:100%;
	margin:0 auto;
}

.contactLabel{
	display:block;
	margin-top:20px;
	letter-spacing:2px;
}

.contactInput, textarea {
	width:250px;
	height:20px;
	background:#efefef;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #dedede;
	padding:5px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

	input:focus, textarea:focus {
		border:1px solid #97d6eb;
	}

.textarea {
	height:130px;
	font-family:Arial, Helvetica, sans-serif;
	background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}

.submit {
	background: url(images/submit.png);
	width: 122px;
	height: 42px;
	border: none;
	cursor: pointer;
	bottom: -60px;
	left: 0px;
	position: absolute;
}

	#submit:hover {
		opacity:0.8;
	}
	
#contact_form
{
	position:relative;
}
.prod_desc
{
	margin:40px;
	font-family:Ariel;
}
/*~index*/


